/* Import the Open Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');

/* Set custom CSS variables with specific color values */
:root {
    --white: #FEFCF3;
    /* white color */
    --lightgrey: #CFD2CF;
    /* light gray color */
    --lightgreekblue: #6FC3CE;
    /* light Greek blue color */
    --greekblue: #049FBB;
    /* Greek blue color */
    --black: #252525;
    /* black color */
}



/* Set margin, padding, and font-size to 0 for all elements */
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

/* Set the font family, background image, and overflow to hidden for the body */
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  
}


.background{
    background-image: url(/assets/BG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* Set styles for the heading element */
.heading h1 {
    font-weight: 600;
    font-size: 2.77rem;
    line-height: 3.77rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
    padding-bottom: 1.61rem;
}

/* Set styles for the content area element */
.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    border: 1px solid beige;
}


/* Set styles for the text field element */
.text-field {
    width: 30.33rem;
    height: 3.61rem;
    margin-bottom: 1.61rem;
    display: flex;
    align-items: center;
    background-color: var(--white);
    background: #FFFCFC;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


/* Set styles for the text field input element */
.text-field input {
    width: 90%;
    height: 100%;
    border-radius: 4px;
    outline: none;
    border: none;

}

/* Set styles for the placeholder */
.text-field input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.38rem;
    /* identical to box height */
    color: var(--lightgrey);
}


/* Set styles for the todo icon */
.text-field #todo-icon {
    width: 1.94rem;
    height: 1.94rem;
    padding: 0.5rem;
    color: var();
}

/* Set styles for the todo container element */
.todo-container {
    width: auto;
    min-height: auto;
}


/* Set styles for the todos element */
.todos {
    width: 30.33rem;
    height: 3.61rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    background: #FFFCFC;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border-bottom: 1px solid var(--lightgrey);
}


/* Set styles for the togglecheck */
.toggle-check {
    width: 1.22rem;
    height: 1.22rem;
    margin: 0.8rem;
    border: 1px solid var(--lightgrey);
    border-radius: 50%;
}


/* Set styles for the toggle check image */
.toggle-check img {
    margin-left: 0.16rem;
    width: 0.83rem;
    height: 0.83rem;
    color: var(--greekblue);
    opacity: 0;
}


/* Set hover effect for toggle check */
.toggle-check:hover {
    cursor: pointer;
}


/* Set styles for the todo name box element */
.todo-name-box {
    width: 24.77rem;
}


/* Set styles for the todo name box span */
.todo-name-box span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}



/* Set hover effect for todo name box */
.todo-name-box:hover {
    cursor: pointer;
}


/* Set styles for the completeundo */
.completeundo {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.38rem;
    color: var(--black);
}


/* Set styles for the complete class */
.complete {
    text-decoration: line-through;
    opacity: 0.4;
    color: var(--greekblue);
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
}


/* Set styles for the delete icon id */
#delete-icon {
    width: 1.38rem;
    height: 1.38rem;
    padding: 1rem;
    opacity: 0;

}


/* Set hover effect on todos */
.todos:hover #delete-icon {
    cursor: pointer;
    opacity: 1;

}

/* Set styles for the todo info element */
.todo-info {
    width: 30.33rem;
    height: 2.22rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


/* Set hover effect on todo info element */
.todo-info:hover {
    cursor: pointer;
}



/* Set styles for todo left element */
#todo-left {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 0.7rem 1rem;
    color: var(--lightgrey);
}


/* Set styles for the clear todo button */
.clear-todo {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 0.7rem 1rem;
    color: var(--lightgrey);
}

/* Set styles for the uncomplete button */
.uncomplete-todo {
    padding: 0.1rem;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 0.7rem 1rem;
    color: var(--lightgrey);
}


/* Set styles for completed button */
.completed-todo {
    padding-right: 1rem;
    padding: 0.1rem;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 0.7rem 1rem;
    color: var(--lightgrey);


}


/* Set styles for all todo button */
.all-todo {
    padding: 0.1rem;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 0.7rem 1rem;
    color: var(--lightgrey);
}

/* Set styles for the toggle check button */
.check-active {
    background-color: #6FC3CE;
    opacity: 15%;
}


/* Set styles for the toggle check image */
.check-active img {
    margin-left: 0.16rem;
    width: 0.83rem;
    height: 0.83rem;
    opacity: 100%;
}


/* Set styles for the tasks Left element */
#tasksLeft {
    color: var(--black);
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 16px;
    padding-right: 0.15rem;
}



/* Set styles for the active when user click button */
.active {
    cursor: pointer;
    padding: 0.1rem;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 0.7rem 1rem;
    color: var(--black);
}


/* Set Set Media Querys for Mobile Medium Devices */
@media only screen and (max-width: 543px) {

    html {
        font-size: 16px;
    }
}

/* Set Media Querys for Mobile Small Devices */
@media only screen and (max-width: 479px) {

    html {
        font-size: 14px;
    }

    #todo-left {
        padding: 0;
        font-size: 11px;
    }

    .clear-todo {
        padding: 0;
        font-size: 11px;
    }

    .uncomplete-todo {
        padding: 0;
        font-size: 11px;
    }

    .completed-todo {
        padding: 0;
        font-size: 11px;
    }

    .all-todo {
        padding: 0;
        font-size: 11px;
    }

    #tasksLeft {
        font-size: 10px;
    }


}



/* CSS End Here */